
#Body_pinguino{
    text-align: center;
    background-color: lightcyan;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#Body_home{
    text-align: center;
    margin: 0%;
    background-color: lightcyan;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#Body_pajaros{
    text-align: center;
    margin: 0%;
    background-color: lightcyan;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#body_avestruz{
    text-align: center;
    margin: 0%;
    background-color: lightcyan;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


#nav{
    background-color: lightblue;
    font-style: arial;
    margin: 0%;
}
hr.dashed {
    border-top: 3px dashed #bbb;
  }

#aves_des{
    text-align: center;
}
#aves{
    background-color: lightcyan;
    width: 50;
    height: 50;
    text-align: center;
    margin: auto;
 }
#aves:hover{
    background-color: lightskyblue;
    transition: backgroun-color 2s;
}
#Opinion{
    border: 3px solid lightblue;
}
