
#Body_pinguino{
    background-color: lightcyan;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#Body_home{
    background-color: lightcyan;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#nav{
    background-color: lightblue;
    text-decoration-color: aliceblue;
    font-style: arial;
    margin: 0%;
}
hr.dashed {
    border-top: 3px dashed #bbb;
  }

#redes{
    text-align: center;
}
